%h1 Edit

= form_for([@winelog, @wine]) do |f|
  = f.text_field :title, placeholder: "Title"
  = f.text_field :brand, placeholder: "Brand"
  = f.text_area :description, placeholder: "Description"
  = f.date_select :vintage, { :discard_day => true, :discard_month => true, :start_year => 1600, end_year: Time.now.year + 1 }

  = f.submit
